In [5]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

In [7]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Data/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,0,Banda Aceh,ID,86.45,scattered clouds,5.5577,95.3222,Sulthan Hotel International
1,1,Hobyo,SO,77.59,broken clouds,5.3505,48.5268,Halane Hotel and Restaurent
2,6,Asfi,MA,63.03,overcast clouds,32.2994,-9.2372,Hôtel Abda
3,9,Kapaa,US,75.18,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
4,12,Atuona,PF,78.57,clear sky,-9.8000,-139.0333,Villa Enata

In [9]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]
locations

         Lat       Lng
0     5.5577   95.3222
1     5.3505   48.5268
2    32.2994   -9.2372
3    22.0752 -159.3190
4    -9.8000 -139.0333
..       ...       ...
180  14.4012   33.5199
181   8.2000  -59.7833
182 -19.7697  -43.8514
183  15.8167   79.9833
184 -31.5375  -68.5364

[185 rows x 2 columns]

In [10]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Batticaloa"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Batticaloa"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Hambantota"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Matara"]
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Negombo"]

In [25]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = list(vacation_start[["Lat","Lng"]].to_numpy()[0])
end = list(vacation_end[["Lat","Lng"]].to_numpy()[0])
stop1 = list(vacation_stop1[["Lat","Lng"]].to_numpy()[0])
stop2 = list(vacation_stop2[["Lat","Lng"]].to_numpy()[0])
stop3 = list(vacation_stop3[["Lat","Lng"]].to_numpy()[0])

In [26]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig =gmaps.figure()
vacation_itinerary = gmaps.directions_layer(start,end,
                                            waypoints=[stop1,stop2,stop3],
                                            travel_mode="DRIVING")
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,501,Batticaloa,LK,79.74,clear sky,7.7102,81.6924,Grand Star Guest House
1,121,Hambantota,LK,82.74,few clouds,6.1241,81.1185,Bungalow 63
2,421,Matara,LK,83.57,clear sky,5.9485,80.5353,Amaloh Boutique Resort
3,339,Negombo,LK,82.45,clear sky,7.2083,79.8358,Hotel Sunset Beach

In [30]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations= itinerary_df[["Lat", "Lng"]]
locations

      Lat      Lng
0  7.7102  81.6924
1  6.1241  81.1185
2  5.9485  80.5353
3  7.2083  79.8358

In [44]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(5.5, 85), zoom_level=2)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))